---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <p class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%-d" }}
        {% assign month = page.date | date: '%-m' %}
        {% case month %}
          {% when '1' %}января
          {% when '2' %}февраля
          {% when '3' %}марта
          {% when '4' %}апреля
          {% when '5' %}мая
          {% when '6' %}июня
          {% when '7' %}июля
          {% when '8' %}августа
          {% when '9' %}сентября
          {% when '10' %}октября
          {% when '11' %}ноября
          {% when '12' %}декабря
        {% endcase %}
        {{ page.date | date: "%Y" }}
      </time>
      {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>
  {% include tags_list.html tags=page.tags tag_count=page.tags.size %}
</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
